# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Edge Template files
[*.edge]
insert_final_newline = true
trim_trailing_whitespace = true
# 禁用自动格式化，防止破坏模板语法
max_line_length = off
